<html>
    <head>
        <title> DnDB Homepage </title>
        <link href="../static/styles/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="page">
            <div class="nav-bar-title">
                <h1>DnDB</h1>
            </div>
            <div class="nav-bar">
                <div class="menu-end-item"></div>
                <ul class="menu">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('my_campaigns') }}">My Campaigns</a></li>
                        <li><a href="{{ url_for('my_creations') }}">My Creations</a></li>
                        <li><a href="{{ url_for('create') }}">Create</a></li>
                        <li><a href="{{ url_for('search') }}">Search</a></li>
                    </ul>
                    <div class="menu-end-item">
                        <div class="dropdown">
                            <a href="{{url_for('profile')}}">Hello, {{logged_in_user_details['nickname']}}</a>
                            <div class="dropdown-content">
                                <a href="{{url_for('profile')}}">My Profile</a>
                                {% if logged_in_user_details['dm_id'] == None %}
                                <a href="{{url_for('premium')}}">Upgrade to Premium</a>
                                {% endif %}
                                <a href="{{url_for('logout')}}">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
        </header>
        <h1 class="page_title">{{ chosen_entity[0]|upper}}{{chosen_entity[1:] }} Creation</h1>
        <form action="{{ url_for('search_result') }}" target="_PARENT" method="POST" autocomplete="off">
            <input type="text" name="chosen_entity" value={{chosen_entity}} style="display:none"/>
            {% for alphanumeric_attr_with_datatype in alphanumeric_attr_list %}
            <p>
                {{alphanumeric_attr_with_datatype[0]}} : <input type="text" name={{alphanumeric_attr_with_datatype[0]}} pattern="{{alphanumeric_attr_with_datatype[1]}}" maxlength="{{alphanumeric_attr_with_datatype[2]}}" placeholder=""/>
            </p>
            {% endfor %}
            {% for enum_attr in enum_attr_list %}
            <p>
                <label for={{enum_attr[0]}}>{{enum_attr[0]}} : </label>
                <select id={{enum_attr[0]}} name={{enum_attr[0]}}>
                    {% for enum_val in enum_attr[1] %}
                        <option value="{{enum_val}}">{{enum_val}}</option>
                    {% endfor %}
                </select>
            </p>
            {% endfor %}
            {% for fk_set in fk_set_list %}
            <p>
                <label for={{fk_set[0]}}>{{fk_set[0]}} : </label>
                <select id={{fk_set[1]}} name={{fk_set[1]}}>
                    {% for fk_value_and_metadata in fk_set[2] %}
                    <p>0: {{fk_value_and_metadata[0]}}</p>
                    <p>1: {{fk_value_and_metadata[1]}}</p>
                    <p>2: {{fk_value_and_metadata[2]}}</p>
                    <p>3: {{fk_value_and_metadata[3]}}</p>
                    <option value={{fk_value_and_metadata[2]}}>{{fk_value_and_metadata[0]}}</option>
                    {% endfor %}
                </select>
            </p>
            {% endfor %}
            <input type="submit" value="Search">
        </form>
    </body>
</html>