<html>
    <head>
        <title> DnDB Homepage </title>
        <link href="../static/styles/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="page">
            <div class="nav-bar-title">
                <h1>DnDB</h1>
            </div>
            <div class="nav-bar">
                <div class="menu-end-item"></div>
                <ul class="menu">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('my_campaigns') }}">My Campaigns</a></li>
                        <li><a href="{{ url_for('my_creations') }}">My Creations</a></li>
                        <li><a href="{{ url_for('create') }}">Create</a></li>
                        <li><a href="{{ url_for('search') }}">Search</a></li>
                    </ul>
                    <div class="menu-end-item">
                        <div class="dropdown">
                            <a href="{{url_for('profile')}}">Hello, {{logged_in_user_details['nickname']}}</a>
                            <div class="dropdown-content">
                                <a href="{{url_for('profile')}}">My Profile</a>
                                {% if logged_in_user_details['dm_id'] == None %}
                                <a href="{{url_for('premium')}}">Upgrade to Premium</a>
                                {% endif %}
                                <a href="{{url_for('logout')}}">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
        </header>
        <h1 class="page_title">{{ chosen_entity[0]|upper}}{{chosen_entity[1:] }} Creation</h1>
        <div class="center_content">
        <form action="" method="POST" autocomplete="off">
            <!-- Input below is a hidden field used to pass the chosen_entity value to the search_result page -->
            <input type="text" name="chosen_entity" value={{chosen_entity}} style="display:none"/>
            <table>
            {% for alphanumeric_attr_with_datatype in alphanumeric_attr_list %}
            <tr>
                <td>
                    {{alphanumeric_attr_with_datatype[3]}}: 
                </td>
                <td>
                    <input type="text" name={{alphanumeric_attr_with_datatype[0]}} pattern="{{alphanumeric_attr_with_datatype[1]}}" maxlength="{{alphanumeric_attr_with_datatype[2]}}" placeholder=""/>
                </td>
            </tr>
            {% endfor %}
            {% for enum_attr in enum_attr_list %}
            <tr>
                <td>
                    <label for={{enum_attr[0]}}>{{enum_attr[2]|title}}: </label>
                </td>
                <td>
                    <select id={{enum_attr[0]}} name={{enum_attr[0]}}>
                        {% for enum_val in enum_attr[1] %}
                            <option value="{{enum_val}}">{{enum_val}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
            {% for fk_set in fk_set_list %}
            <tr>
                <td>
                    <label for={{fk_set[0]}}>{{fk_set[0]|title}}: </label>
                </td>
                <td>
                    <select id={{fk_set[1]}} name={{fk_set[1]}}>
                        {% for fk_value_and_metadata in fk_set[2] %}
                        <option value={{fk_value_and_metadata[2]}}>{{fk_value_and_metadata[0]}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
            {% if direct_attr_list != None %}
                {% for direct_attr_set in direct_attr_list %}
                    {% if direct_attr_set[0] == "static-list" or direct_attr_set[0] == "static-dropdown" %}
                        {% for option_fk_set in direct_attr_set[2] %}
                            {% set associative_prefix = direct_attr_set[0] ~ "_" ~ direct_attr_set[1] ~ "_insertassociativefor_" ~ option_fk_set[1] %}
                            <tr>
                                <td>
                                    <label for={{option_fk_set[0]}}>{{option_fk_set[0]|title}} Values: </label>
                                </td>
                                <td>
                                    <table class="inner_table">
                                        <tr>
                                            {% if direct_attr_set[0] == "static-list" %}
                                            {% for option in option_fk_set[2] %}
                                            <td>
                                                {{option[0]|title}}:
                                            </td>
                                            <td>
                                                <input type="text" name="{{associative_prefix}}={{option[2]}}" required>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <td>

                                        </td>
                                        <td>
                                            <select name="{{associative_prefix}}">
                                            {% for option in option_fk_set[2] %}
                                            <option value="{{associative_prefix}}={{option[2]}}">{{option[0]}}</option>
                                            {% endfor %}
                                            </select>
                                        </td>
                                        {% endif %}
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for option in direct_attr_set[2] %}
                            {% set associative_prefix = "dynamic_" ~ direct_attr_set[1] ~ "_insertassociativefor_" ~ option[1] %}
                            <tr>
                                <td>
                                    <input type="text" id="{{associative_prefix}}_field_type" name="{{associative_prefix}}_field_type" value="select" style="display:none">
                                    <label for={{option[0]}}>{{option[0]|title}}(s): </label>
                                </td>
                                <td>
                                    <table class="inner_table">
                                        <tr>
                                            <td>
                                                <input type="button" name="{{associative_prefix}}" id="{{associative_prefix}}" value="+" class="btn_add_dynamic_field">
                                            </td>
                                            <td>
                                                <select id="{{associative_prefix}}_options" name="{{associative_prefix}}_options" style="display:none">
                                                    {% for fk_value_and_metadata in option[2] %}
                                                    <option value="{{fk_value_and_metadata[2]}}">{{fk_value_and_metadata[0]}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            </table>
            <table>
            {% if multilinked_attr_list != None %}
                {% for multilinked_attr_set in multilinked_attr_list %}
                    {% set curr_multilinked_attr_metadata = multilinked_attr_set[2] %}
                    {% set curr_base_multilink_attr_metadata = curr_multilinked_attr_metadata[0] %}
                    {% set curr_associated_lists = curr_multilinked_attr_metadata[1] %}

                    {% set multi_base_associative_prefix = "multibase_" ~ multilinked_attr_set[1] ~ "_insertassociativefor_" ~ curr_base_multilink_attr_metadata[1] %}
                        <tr>
                            <input type="text" id="{{multi_base_associative_prefix}}_field_type" name="{{multi_base_associative_prefix}}_field_type" value="multi" style="display:none">
                            <input type="text" id="{{multi_base_associative_prefix}}_label" name="{{multi_base_associative_prefix}}_label" value="{{curr_base_multilink_attr_metadata[0]|title}}" style="display:none">
                            <label for={{curr_base_multilink_attr_metadata[0]}}>{{curr_base_multilink_attr_metadata[0]|title}}(s): </label>
                            
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            <select id="{{multi_base_associative_prefix}}_options" name="{{multi_base_associative_prefix}}_options" style="display:none">
                                                {% for fk_value_and_metadata in curr_base_multilink_attr_metadata[2] %}
                                                    <option value="{{fk_value_and_metadata[2]}}">{{fk_value_and_metadata[0]}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="button" name="{{multi_base_associative_prefix}}" id="{{multi_base_associative_prefix}}" value="+" class="btn_add_dynamic_field">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        {% for associated_attr_list in curr_associated_lists %}
                            {% for dropdown_metadata_and_fk_vals in associated_attr_list[2] %}
                            {% set child_associative_prefix = "multichild_" ~ associated_attr_list[1] ~ "_insertassociativefor_" ~ dropdown_metadata_and_fk_vals[1] %}
                            <tr>
                                <input type="text" id="{{child_associative_prefix}}_field_type" name="{{child_associative_prefix}}_field_type" value="select" style="display:none">
                                <input type="text" id="{{child_associative_prefix}}_label" name="{{child_associative_prefix}}_label" value="{{dropdown_metadata_and_fk_vals[0]|title}}(s): " style="display:none">
                                <input type="text" id="{{multi_base_associative_prefix}}_child" name="{{multi_base_associative_prefix}}_child" value="{{child_associative_prefix}}" style="display:none">
                                <select id="{{child_associative_prefix}}_options" name="{{child_associative_prefix}}_options" style="display:none">
                                {% for fk_value_and_metadata in dropdown_metadata_and_fk_vals[2] %}
                                    <option value="{{fk_value_and_metadata[2]}}">{{fk_value_and_metadata[0]}}</option>
                                {% endfor %}
                                </select>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
            {% endif %}
            <tr>
                <td>
                    <input type="submit" name="submit_btn" value="Create">
                </td>
            </tr>
            </table>
        </form>
    </div>
        <script src="../static/jquery-3.5.0.js"></script>
        <script src="../static/dynamic_fields.js" type="text/javascript"></script>
    </body>
</html>